<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv='X-UA-Compatible' content='ie=edge'>
  <title>WHAT-TODO?</title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" type="text/css" href="../../styles/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../styles/style.css">
</head>
<body>
<% include ../partials/nav %>
