<header>
  <div class="logo">LOGO</div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/todos">My Todo's</a></li>
      <li><a href="/todos/new">New Todo</a></li>
    </ul>
  </nav>
</header>
