<% include ./partials/boilerplate %>


<div class="welcome-msg-container">
  <h1 id="welcome-msg" class="textClass">WELCOME TO<br /> MY TODO APP!<br /><span>(Sponsored by Shia Lebeaf)</span></h1>
  <button class="textClass" id="welcomeBtn"><a href="./todos/">TODO</a></button>
</div>

<% include ./partials/end %>
