<% include ../partials/boilerplate %>

<div>
  <% data.forEach(data => { %>
  <% if (data.status === false) {
    data.status = 'Not Done'
  }else if (data.status === true) {
    data.status = 'Done'
  }  %>
  <h1><%= data.title %></h1>
  <h1><%= data.category %></h1>
  <h1><%= data.status %></h1>
  <h1><%= data.info %></h1>
  <% }) %>
</div>

<% include ../partials/end %>
