<% include ../partials/boilerplate %>

<div class="welcome-msg-container">
  <% data.forEach(data => { %>
  <% include ../partials/status-conditional %>
  <div>
    <div id="top-bar">
      <h1><%= data.title %></h1>
      <h1><%= data.status %></h1>
    </div>
    <div id="bottom-bar">
    <h1><%= data.category %></h1>
    <h1></h1>
    <a href="/todos/<%=data.id%>/edit">EDIT</a>
    </div>
    </div>
  <br>
  <% }) %>
</div>

<% include ../partials/end %>
